名称:
   {{.HelpName}} - {{.Usage}}

使用方式:
   {{if .UsageText}}{{.UsageText}}{{else}}{{.HelpName}} 命令{{if .VisibleFlags}} [命令选项]{{end}} {{if .ArgsUsage}}{{.ArgsUsage}}{{else}}[参数...]{{end}}{{end}}{{if .Description}}

描述:
   {{.Description | nindent 3 | trim}}{{end}}

命令:{{range .VisibleCategories}}{{if .Name}}
   {{.Name}}:{{range .VisibleCommands}}
     {{join .Names ", "}}{{"\t"}}{{.Usage}}{{end}}{{else}}{{range .VisibleCommands}}
   {{join .Names ", "}}{{"\t"}}{{.Usage}}{{end}}{{end}}{{end}}{{if .VisibleFlags}}

选项:
   {{range .VisibleFlags}}{{.}}
   {{end}}{{end}}